html, body {
    padding: 0;
    margin: 0;
}

#earth_div {
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute !important;
}

#InputWidget {
    position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#InputWidgetHeader {
    cursor: move;
    height: 30px;
    background-color: #2196F3;
    color: #fff;
    /*background: url(move_icon.png) no-repeat;*/
}

img {
    max-width: 100%;
    max-height: 100%;
}

.FloatWidget {
    width:20%;
    height:50%;
    /*padding:0px;*/
    /*position:absolute;*/
}

.drawButton {
    width:100%;
    height: 30px;
}

textarea {
    width: 100%;
    /*height: calc(100% - 52px); !* @todo this fucking shit*!*/
    /*padding: 3px;*/
    /*border: 0px;*/
    height: 100%;
    resize: none; /* Запрещаем изменять размер */
}

/*.brd1 {*/
    /*position: relative;*/
    /*border: 2px blue; !* Параметры границы *!*/
    /*background: black; !* Цвет фона *!*/
/*}*/

/*.brd2 {*/
    /*height: calc(100% - 60px);*/
    /*position: relative;*/
    /*border: 2px black; !* Параметры границы *!*/
    /*background: green; !* Цвет фона *!*/

/*}*/

.brd1 {
    position: relative;
    height: 100%;
    width: 100%;
}

.brd2 {
    height: calc(100% - 60px);
    position: relative;

}

