html, body {
    padding: 0;
    margin: 0;
}

/*#earth_div {*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background-color: #000;*/
    /*position: absolute !important;*/
/*}*/


#earth_div {
    right: 0;
    width: 80%;
    background-color: black;
    position: absolute !important;
}

#earth_div {
    top: 0;
    height: 100%;
}
#input_div div {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}


#container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;

}



#input_div, #Border {
    position: absolute;
    top: 0;
    height: 100%;
}

#input_div {
    left: 0;
    width: 20%;
    background-color: #ccffcc;
}

#Border {
    left: 20%;
    width: 3px;
    background-color: gray;
    cursor: move;
}


textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    font: normal 1em Verdana, sans-serif;
    display: block;
}

