html, body {
    padding: 0;
    margin: 0;
}

#earth_div {
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute !important;
}

#InputWidget {
    position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#InputWidgetHeader {
    padding: 3px;
    cursor: move;
    height: 20;
    background-color: #2196F3;
    color: #fff;
    /*background: url(move_icon.png) no-repeat;*/
}

img {
    max-width: 100%;
    max-height: 100%;
}

.FloatWidget {
    width:20%;
    height:50%;
    padding:0px;
    background-color:#ff8811;
    position:absolute;
}

.drawButton {
    width:100%;
}

textarea {
    width: 100%;
    height: 100% ;
    padding: 3px;
    border: 0px;
    font: normal 1em Verdana, sans-serif;
    display: block;
    resize: none; /* Запрещаем изменять размер */
}


html,
body {
    height: 100%;
    margin: 0
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}



